body {
    background-color: #e4e9ec;
    overflow-x: hidden;
    cursor: default;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    justify-content: space-between;
}

.navlist {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 30px;
    font-weight: bold;
}

.navlist li a{
    cursor: pointer;
    color: 	#353839;
    margin-right: 45px;  
}

.navlist li{
    transition: 0.3s;
}

.navlist li:hover{
    scale: 1.1;
    transition: 0.3s;
}

.navlist li:active .navlist{
    color: #0796D8;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.navlist li a:hover{
    color: #0796D8;
    text-decoration: underline;
    text-underline-offset: 7px;
    transition: 0.2s;
}

.navlist li:last-child a{
    margin-right: 75px;
    align-content: center;
    padding: 10px 25px 10px 25px;
    top: 0;
    color: #e4e9ec;
    border-radius: 10px;
    background-color: #006EA0;
}

.navlist li:last-child a:hover{
    scale: 1.1;
    color: #f5f5f5;
    background-color: #0796D8;
    text-decoration: none;
    transition: 0.2s;
}

.navlist.active>a:link, .navlist.active>a:visited {
    color: #0796D8;
    text-decoration: underline;
    text-underline-offset: 7px;
}
 
.logo {
    color: 	#353839;
    cursor: pointer;
    margin-left: 30px;
    font-family: "Yellowtail", cursive;
    transition: 0.3s;
    
}

a {
    text-decoration: none;
}

.logo:hover{
    scale: 1.1;
    transition: 0.3s;
    color: #829397;
}

#home {
    display: flex;
    position: relative;
    padding-top: 90px;
    height: 100vh; 
    justify-content: space-between; 
}

.home-text {
    align-self: center;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
}

.home-text h1, h3{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.5mm;
    color: #353839;
}

.home-text h1{
    margin: -25px 0px -25px 0px;
    letter-spacing: 5px;
    font-size: 70px;
}

button{
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
    border: none;
    padding: 5px 15px 5px 15px;
    color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 5px 5px 75px 15px rgba(65,74,76,0.25);
    background-color: #006EA0;
    letter-spacing: 2px;
    font-size: 20px;
}

button:hover{
    background-color: #0796D8;
    transition: 0.3s;
}

button a{
    color: #e4e9ec;;
}

.home-text h2, h4{
    font-family: "Montserrat", sans-serif;
    color: #006EA0;
}

.Photo-Shape {
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0% 100%);
    object-fit: fill;
    width: 65%; 
    height: 90%; 
}

.Photo-Shape img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

footer {
    width: 100%; 
    background-color: #f5f5f5;
    float: left; 
    margin: 0; 
    display: flex;
    line-height: 0.5em;
}

.footer div:first-child{
    justify-content: left;
    padding-left: 30px;
}

.footer div:not(first-child){
    padding-left: 20%;
}
.footer h4 a{
    color: #353839;
    display: block;
    list-style: none;
    margin-left: -24px;
    font-size: 12px;
    line-height: 1em;
}

.footer div{
    width: 8%;
}

.footer h2 a{
    color: #353839;
    font-size: 1em;
}

.footer h1 a{
    font-family: "Yellowtail", cursive;
    color: #353839;
    padding-right: 200px;
    line-height: 1em;
}

.footer h1 a:hover{
    transition: 0.3s;
    color: #829397;
}
#overview-title {
    font-size: 40px;
    margin-top: -40px;
    text-align: center;
    color: #353839;
}

#Education-Leadership-title{
    color: #353839;
    font-size: 3em;
    margin-top: 200px;
    padding: 0px 0px 0px 75px;
    line-height: 0;
    text-align: left; 
}

.Experience {
    display: flex;
    padding-top: 100px;
    justify-content: space-evenly;
}

#Experience-title{
    color: #353839;
    font-size: 3em;
    margin: 0px 0px 0px 75px;
    text-align: left; 
}

.Post-Info h4{
    font-weight: 400;
    color: #353839;
    padding: 20px 10px 100px 10px;
    margin: 0px 150px 0px 0px;
}

.Post-Office{
    color: #353839;
    width: 70%;
    height: auto;
    line-height: 1em;
    padding: 0px 20px 0px 0px;
    margin: 0px 0px 0px 75px;
}

.Post-Office h2{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

.Post-Office h3{
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    font-size: 1rem;
}

.Post-Office h5{
    font-family: "Montserrat", sans-serif;
    font-size: .75rem;
}

#welcome {
    display: flex;
    position: relative;
    padding-top: 80px;
    height: 100vh; 
    justify-content: space-between; 
    transform: scaleX(-1);
}

#welcome .home-text{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.5mm;
    margin-bottom: 70px;
    transform: scaleX(-1);
    text-align: center;
}

#welcome .home-text h2{
    color: #353839;
    line-height: 20px;
    font-size: 60px;
}
#welcome .home-text h1{
    color: #0796D8;
    font-size: 100px;
}

#welcome .home-text h4{
    color: #353839;
    line-height: 15px;
    font-size: 30px;
}

.half-container{
    display: flex;
}

.half-container div{
    width: 50%;
    height: 100%;
    margin: 50px 75px;
    padding-bottom: 75px;
}

.half-container h1{
    text-align: center;
}

.half-container li{
    list-style-type: none;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    margin: 10px 10px 10px 10px;
    background-color: #f5f5f5;
    display: inline-block;
    border-radius: 10px;
    color: #353839;
}

.half-container h4{
    color: 	#353839;
    font-weight: 400;
    align-self: center;
    align-items: center;
    justify-content: flex-start;
}

.half-container img{
    height: 75vh;
    width: auto;
    padding-top: 0px;
}

.all-projects{
    display: flex;
    margin: 50px 75px 0px 75px;
    padding: 0px 0px 150px 0px;
}

.all-projects div{
    width: 50%;
}

.all-projects h2{
    padding: 30px;
    font-size: 2em;
}

hr {
    border-bottom: 4px solid #006EA0;
}

#projects-title {
    font-size: 3em;
    line-height: 0em;
    margin: 50px 75px;
}
.all-projects ul li {
    list-style: none;
    transition: 4s;
}

.all-projects ul li a{
    color: #000000;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 1.25em;
    line-height: 4em;
    text-indent: 0;
}

.all-projects ul li a:hover{
    color: #829397;
    transition: 4ms;
}

.single-container {
    text-align: center;
    justify-content: center;
    margin-top: 20vh;
    color: #353839;
    line-height: 1em;
}

.single-container h1{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.5mm;
    font-size: 4em;
}

.single-container div{
    margin: 10vh 20vh;
    text-align: left;
}

.single-container h3{
    font-family: "Bebas Neue", sans-serif;
    font-size: 1em;
    letter-spacing: 0.5mm;
    color: #829397;
}

.single-container li{
    list-style-type: none;
    font-weight: bold;
    padding: 10px 15px 10px 15px;
    background-color: #f5f5f5;
    display: inline-block;
    margin: 20px 20px 20px 0px;
    border-radius: 10px;
    color: #353839;
}

.single-container h4{
    font-weight: 500;
    color: #333;
    font-family: "Montserrat", sans-serif;
}

#project-image img{
    display: block;
    object-fit: contain;
    margin: 10vh auto;
    height: fit-content;
    width: auto;
    max-height: 60vh;
}

.contact {
    display: flex;
    justify-content: space-between;
    padding: 90px 200px 0px 200px;
    margin: 40px 0;
}
  
.contact h1 {
    font-size: 3em;
    color: #333;
    margin-bottom: 0px;
}

.contact h3{
    color: #829397;
}

  
.contact ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.contact li {
    margin-right: 20px;
}
  
.contact div img{
    height: 70vh;
    width: auto;
}

.contact ul li img {
    clip-path: circle(30px);
    filter: invert(19%) sepia(69%) saturate(5645%) hue-rotate(185deg) brightness(94%) contrast(101%);
    transition: 7ms;
    width: 60px;
    height: 60px;
}

.contact ul li a img:hover{
    filter: invert(49%) sepia(80%) saturate(2919%) hue-rotate(170deg) brightness(92%) contrast(94%);
    transition: 7ms;
}
  
.contact p {
    font-size: 18px;
    color: #333;
}
  
.contact a {
    color: #006EA0;
    text-decoration: none;
    font-weight: bold;
}
  
.contact a:hover {
    text-decoration: underline;
}

#more-info{
    font-size: 1em;
    font-weight: 600;
    margin-left: 80px;
    color: #829397;
}

.error-background{
    background-image: url(https://images.unsplash.com/photo-1554147090-e1221a04a025?q=80&w=2948&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 100vh;
    width: 100vw;
    object-fit: scale-down;
    z-index: 0;
}

.error-background div{
    padding-top: 20vh;
    text-align: center;
}

.error-background h1{
    color: #353839;
    font-size: 6em;
}

.error-background h3{
    color: #353839;
    font-family: "Montserrat", sans-serif;
}

.error-background h4{
    color: #353839;
    font-family: "Montserrat", sans-serif;
}

#contact-logos{
    clip-path: circle(30px);
    filter: invert(19%) sepia(69%) saturate(5645%) hue-rotate(185deg) brightness(94%) contrast(101%);
    transition: 7ms;
    width: 60px;
    height: 60px;
    margin-top: 0px;
}

#contact-logos:hover{
    filter: invert(49%) sepia(80%) saturate(2919%) hue-rotate(170deg) brightness(92%) contrast(94%);
    transition: 7ms;
}




